<div class="flight-wrapper" *ngIf="flight">
    <div class="custom-row">
        <div class="flight-img">
            <img [src]="webService.generateImageUrl(flight.destination)" [alt]="flight.destination">
        </div>
        <div class="flight-data">
            <mat-card appearance="outlined" class="flight-data-card">
                <mat-card-content>
                    <h1>{{flight.destination}}</h1>
                    <p class="no-space">{{flight.id}}</p>
                    <p class="no-space">{{flight.flightNumber}}</p>
                    <p class="no-space">{{flight.estimatedAt?flight.estimatedAt:flight.scheduledAt}}</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="custom-row">
        GOOGLE MAPS INTEGRATION...
    </div>
</div>
