<div *ngIf="recommended" class="container">
    <mat-card class="example-card" appearance="outlined" *ngFor="let flight of recommended">
        <img mat-card-image [src]="[webService.generateImageUrl(flight.destination)]" alt="{{flight.destination}}">
        <mat-card-content>
            <h1>{{flight.destination}}</h1>
            <mat-list role="list">
                <mat-list-item role="listitem">Scheduled at: {{dataService.formatDate(flight.scheduledAt)}}</mat-list-item>
                <mat-list-item role="listitem">Flight number: {{flight.flightNumber}}</mat-list-item>
                <mat-list-item role="listitem">Airplane model: {{flight.plane}}</mat-list-item>
            </mat-list>
        </mat-card-content>
        <mat-card-actions>
            <a mat-button [routerLink]="['/flight/',flight.id]">
                <i class="fa-solid fa-circle-info"></i> Details
            </a>
            <a mat-button [routerLink]="['/book/',flight.id]">
                <i class="fa-solid fa-up-right-from-square"></i> Book now
            </a>
        </mat-card-actions>
    </mat-card>
</div>
<app-search-container [destinations]="destinations" [airlines]="airlines" [flightClass]="flightClass" />