.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

p {
    color : white !important;
}

   .container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 10px;
  }