<div *ngIf="recommended" class="container">
    <mat-card class="example-card" appearance="outlined" *ngFor="let flight of recommended">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="[generateImageUrl(flight.destination)]" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <h1>{{flight.destination}}</h1>
            <mat-list role="list">
                <mat-list-item role="listitem">Scheduled at: {{formatDate(flight.scheduledAt)}}</mat-list-item>
                <mat-list-item role="listitem">Flight number: {{flight.flightNumber}}</mat-list-item>
                <mat-list-item role="listitem">Airplane model: {{flight.plane}}</mat-list-item>
            </mat-list>
        </mat-card-content>
        <mat-card-actions>
            <a mat-button [routerLink]="['/flight/', flight.id]">
                <i class="fa-solid fa-circle-info"></i> Details
            </a>
            <a mat-button [routerLink]="['/book/', flight.id]">
                <i class="fa-solid fa-up-right-from-square"></i> Book now
            </a>
        </mat-card-actions>
    </mat-card>
</div>
<div class="container search-container">
    <mat-card appearance="outlined" class="search-card">
        <mat-card-content>
            <h1> Search for your destination </h1>
            <form class="search-form">
                <mat-form-field class="search-field">
                    <mat-label>Choose your destination </mat-label>
                    <mat-select>
                        <mat-option [value]="dest" *ngFor="let dest of destinations ">{{dest}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="search-field">
                    <mat-label>Choose airline </mat-label>
                    <mat-select>
                        <mat-option [value]="airline" *ngFor="let airline of airlines ">{{airline}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="search-field">
                    <mat-label>Choose class </mat-label>
                    <mat-select>
                        <mat-option [value]="cls" *ngFor="let cls of flightClass ">{{cls}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="search-field">
                    <mat-label>Return </mat-label>
                    <mat-select>
                        <mat-option [value]="true">Yes</mat-option>
                        <mat-option [value]="false">No</mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <a mat-button [routerLink]="['/search/']">
                <i class="fa-solid fa-search"></i> Search now
            </a>
        </mat-card-actions>
    </mat-card>
</div>